.discussion-container {
  top: 0;
  right: 0;
  /* margin: 0 0 15px 0;  */
  background: #efefef;
  border-radius: 25px;
  padding: 50px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: top;
  overflow: hidden;
  width: 40%;
  height: 72%;
  box-sizing: border-box;
  position: fixed;
  margin-top: 100px;
}
