.posts-discussion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}

.posts-list-container {
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
