.posts-discussion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}

.posts-list-container {
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

.posts-container-wrapper {
  height: 700px;
  position: fixed;
  margin-right: 800px;
  margin-top: 200px;
  overflow-y: scroll;
  display: flex;
  margin-bottom: 420px;
}
