.post-container {
    margin: 0 0 15px 0; 
    background: #efefef;
    border-radius: 25px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
    overflow: hidden;
}

.post-container:hover {
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
