.side-bar-container {
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100%;
    background: rgb(170, 170, 170);
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    /* opacity: ${({ isOpen }) => (isOpen ? '100%' : '0')};
    top: ${({ isOpen }) => (isOpen ? '0' : '-100%')}; */
}

.close-icon {
    color: #fff;
}

.close-icon:hover {
    color: rgb(44, 44, 44);
    transition: 0.2s ease-in-out;
}

.icon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.side-bar-wrapper {
    color: #fff;
}

.side-bar-menu-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 80px);
    text-align: center;
}

.side-bar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.side-bar-link:hover {
    color: rgb(44, 44, 44);
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 480px) {
    .side-bar-menu-list {
        grid-template-rows: repeat(6, 60px);
    }
}